:host {
  display: inline-block;
}

.button {
  border: 0;
  border-radius: var(--g33-radius-md);
  padding: var(--g33-spacing-sm) var(--g33-spacing-md);
  font-weight: var(--g33-font-weight-semibold);
  cursor: pointer;
}

.button--primary {
  background: var(--g33-color-primary);
  color: var(--g33-color-white);
}

.button--secondary {
  background: var(--g33-color-secondary);
  color: var(--g33-color-white);
  border: var(--g33-border-width) solid var(--g33-color-secondary);
}

.button--ghost {
  background: transparent;
  color: var(--g33-color-white);
  border: var(--g33-border-width) solid var(--g33-color-white);
  transition: all 0.2s ease;
}

.button--ghost:hover {
  background: var(--g33-color-white);
  color: var(--g33-color-primary);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button--sm {
  padding: var(--g33-spacing-xs) var(--g33-spacing-sm);
  font-size: var(--g33-font-size-xs);
}

.button--md {
  padding: var(--g33-spacing-sm) var(--g33-spacing-md);
  font-size: var(--g33-font-size-sm);
}

.button--lg {
  padding: var(--g33-spacing-md) var(--g33-spacing-lg);
  font-size: var(--g33-font-size-md);
}
